<h1>Formulario</h1>
<!-- EL #myForm="ngForm" se utiliza para validar todos los inputs del formularia a la vez -->
<!-- El (ngSubmit)="onRegister()" se utiliza para poder enviar la informacion del -->
 <form (ngSubmit)="onRegister()"  #myForm="ngForm">
    <div>
        <label>Name:</label>
        <!-- se creo un objeto que esta escuchando el [(ngModel)]="register.name", esto para poder cambiar el estado del objeto -->
        <input type="text" required name="name" [(ngModel)]="register.name">
    </div>
    <div>
        <label>Email:</label>
        <input type="email" required name="email" [(ngModel)]="register.email">
    </div>
    <div>
        <label>Password:</label>
        <input type="password" required name="password" [(ngModel)]="register.password">
    </div>
    <!-- Esta validacion [disabled]="myForm.invalid" activa el boton cuando todos los campos esten activos- -->
    <button type="submit" [disabled]="myForm.invalid">register</button>
 </form>
<hr>
<h1>NgClass y NgStyle</h1>
<!-- las ngClass con permiten agrupas varias clases que queremos utilizar para un componente deacuerdo a una condicion -->
<!-- esta es la sintaxis [ngClass]="{CLASES AQUI}" -->
<div class="error-line" [ngClass]="{
    'valid': inputname3.valid,
    'invalid': inputname3.invalid
}"></div>
<input type="text" required  #inputname3="ngModel" [(ngModel)]="person.name">
<div class="error-line" [ngClass]="{
    'valid': inputname3.valid,
    'invalid': inputname3.invalid
}"></div>


<div class="style">
    <div>
        <input type="number" #inputname4="ngModel" [(ngModel)]="box.width">
        <input type="number" #inputname5="ngModel" [(ngModel)]="box.height">
        <input type="color"  [(ngModel)]="box.background">
    </div>
    <div>
<!-- Todos los estilos se establecen aqui y no en el objeto -->
<!-- el tipo de medida tambien es especifica aqui y no en el objeto -->
<!-- ojo a la sintaxis  [ngStyle]="{PROPIEDADES AQUI}"  -->
        <div [ngStyle]="{
            'width.px': box.width,
            'height.px': box.height,
            'background-color': box.background,
            'display': 'block'
        }"></div>
    </div>
</div>


<hr>
<h1>Class and style</h1>
<!-- de la siguiente manera se pueden agregar classes dinamicas que cambian los estilos de los componentes,
    tambien se pueden combiar los estilos de un componente directamente  -->
<!-- **NOTE: esta practica se puede quedar corta a la hora de realizar varias asignaciones, asi que se recomienda el uso de formularios dinamicos -->

    <!-- Modificacion por CLASE -->
<input type="text" #inputname2="ngModel" [(ngModel)]="person.name">
<!-- despues de el class. se debe agregar una clase de css, ojo con el punto despues de class -->
<P class="error_msg" [class.active]="person.name === 'nicolas'">El desarrollador se llama: {{person.name}}</P>

<!-- Modificacion por ESTILO -->
<input type="text" #inputname2="ngModel" [(ngModel)]="person.age">
<img src={{person.img}} [style.width.px]="person.age" alt="">

<hr>
<h1>Uso de [ngSwitch]</h1>
<input type="text" [(ngModel)]="person.name">
<!-- el [ngSwitch] de incluir los [], luego el SwitchCase debe de usar el * asi: *ngSwitchCase-->
<ng-container [ngSwitch]="person.name">
    <p *ngSwitchCase="'a'">Caso A</p>
    <p *ngSwitchCase="'b'">Caso b</p>
    <p *ngSwitchDefault>Default</p>
</ng-container>


<hr>
<h1>*ngFor para arrays y objetos</h1>
<div class="products--grid">
    <!-- con el gn-container los estilos no funcionan bien! -->
    <!-- <ng-container class="products--grid"  *ngFor="let item of products; index as i"> -->
    <div *ngFor="let item of products; index as i">
        <ul>
            <li>
                <p>{{i}}:</p> 
                <img src={{item.image}} alt="">
                <h2>{{item.name}}</h2>
                <p>{{item.price}}</p>
                <h6>{{item.category}}</h6>
            </li>
        </ul>
    <!-- </ng-container> -->
    </div>
</div>
    
<hr>
<h1>Uso de *ngFor</h1>
<!-- El ngFor se utiliza para iterar, nunca olvidar poner el LET Y OF para su correct ejecucion -->
<input type="text" [(ngModel)]="new_item">
<button (click)="add_to_list()">Add Item</button>
<h3>Lista de compras</h3>
<ul>
    <P *ngIf="my_list.length === 0">Lista vacia</P>
    <li *ngFor="let item of my_list; index as i ">{{i}} {{item}} <button (click)="remove_from_list(i)">Remove</button> </li>
    
</ul>
<hr>
<h1>Uso de *ngIf else</h1>
<!-- se debe de declarar con el simbolo * y ademas se tiene que utilizar el ng-template para agregar un block ELSE -->
<p *ngIf="person.name === 'nicolas' && person.age === 26; else else_block">ENTRE AL ngIf</p>
<ng-template #else_block>
    <p>ENTRE AL ELSE</p>
</ng-template>
<hr>
<h1>Data binding con ngModel [( )]</h1>
<!-- ngModel es una fusion de Property Binding y Event Biding, ESTE MODULO DE BEDE IMPOTAR -->
<input type="text" required #nameInput="ngModel" [(ngModel)]="person.name">
<input type="number" max="65" min="18" required #ageInput="ngModel" [(ngModel)]="person.age">
<!-- #nameInput="ngModel" es una validacion nativa de html usando ngModel -->
<p>Valid name: {{nameInput.valid}}</p>
<p>Valid age: {{ageInput.valid}}</p>
<h3>El nombre del objeto es: {{person.name}}</h3>
<hr>
<h1>Leer eventos del html</h1>
<!-- los eventos de agregan con un signo dolar $ -->
<input type="text" [value]="person.name" (keyup)="change_name($event)">
<h3>El nombre del objeto es: {{person.name}}</h3>
<hr>
<h1>Event (Binding)</h1>
<!-- este se utiliza para escuchar eventos, debe de tener una funcion en el componente para poder funcionar correctamente -->
<button [disabled]="activator" (click)="add_age()">age +</button>
<button [disabled]="activator" (click)="rest_age()">age -</button>
<button (click)="toggleButtons()">activate buttons</button>
<progress max="100" [value]="person.age"></progress>
<h3>Edad del objeto: {{person.age}}</h3>
<hr>
<!-- este es un ejemplo de property binding y se usa especificamente con propiedades de objetos  -->
<!-- <h3>el nombre del objeto persona es: {{person.name}}</h3> -->
<h1>Property [Binding]</h1>
<input type="text" [value]="person.name">
<progress max="100" [value]="person.age"></progress>
<img width="100px" [src]="person.img" alt="">
<hr>
<!-- todos son ejemplos de String interpolation, el cual se debe de usar con corchetes dobles {{}}  estos se usan con strings-->
<h1>Interpolation}}{{</h1>
<h3>Hola mundo de Angular, mi nombre es {{name}} y mi edad es {{age}}</h3>
<img width="200" src={{img}} alt="">